{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="content-body">
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item">Lançamentos Futuros</li>
                </ol>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Lançamentos Futuros</h4>
                            {% crispy future_form %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">  
                            <h4 class="card-title">Compromissos Futuros</h4> 
                            {% if future_releases %}
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th scope="col">Data Lançamento</th>
                                                <th scope="col">Data Recebimento</th>
                                                <th scope="col">Operação</th>
                                                <th scope="col">Motivo</th>
                                                <th scope="col">Valor</th>
                                                <th scope="col">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for releases in future_releases %}
                                                <tr>
                                                    <td>{{ releases.release_date }}</td>
                                                    <td>{{ releases.receiving_date }}</td>
                                                    <td>{{ releases.category }}</td>
                                                    <td>{{ releases.reason }}</td>
                                                    <td>{{ releases.value }}</td>
                                                    </td>
                                                    <td>
                                                        <span>
                                                            <a href="{% url 'future_edit' releases.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil color-muted m-r-5"></i>
                                                            </a>
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-muted"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="alert danger">
                                    <p>Não existem compromissos futuros</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-inline-block">
                        <a href="{% url 'index' %}">
                            <button type="button" class="btn gradient-9 btn-lg border-0 btn-rounded px-4">Voltar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}