{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}OKMoney{% endblock %}

{% block content %}
    <div class="content-body">
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                {% include 'partial/_messages.html' %}
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="{% url 'index' %}">Home</a></li>
                </ol>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="stat-widget-one">
                            <div class="stat-content">
                                <div class="stat-text">Ações</div>
                            </div>
                            <br>
                            <div class="d-inline-block">
                                <a href="{% url 'moneyin' %}">
                                    <button type="button" class="btn gradient-9 btn-lg border-0 btn-rounded px-4">Novo Recebimento</button>
                                </a>
                            </div>
                            <div class="d-inline-block">
                                <a href="{% url 'moneyout' %}">
                                    <button type="button" class="btn gradient-9 btn-lg border-0 btn-rounded px-4">Novo Pagamento</button>
                                </a>
                            </div>
                            <div class="d-inline-block">
                                <a href="{% url 'future' %}">
                                    <button type="button" class="btn gradient-9 btn-lg border-0 btn-rounded px-4">Movimentações Futuras</button>
                                </a>
                            </div>
                            <div class="d-inline-block">
                                <a href="{% url 'list' %}">
                                    <button type="button" class="btn gradient-9 btn-lg border-0 btn-rounded px-4">Fluxo de
                                        Caixa</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-13">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-content">
                                    <form method="GET">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="input-group">
                                                    <input type="date" class="form-control" value='{{ initial_date|date:"d/m/Y" }}' required name="initial_date" id="initial_date"> 
                                                </div>
                                            </div>  
                                            <div class="col-5">
                                                <div class="input-group">
                                                    <input type="date" class="form-control" value='{{ final_date|date:"d/m/Y" }}' required name="final_date" id="final_date"> 
                                                </div>
                                            </div>
                                            <div class="d-inline-block">
                                                <button type="submit" class="btn gradient-9 btn-lg border-0 btn-rounded px-4">Filtrar</button>
                                                <a href="{% url 'index' %}">
                                                    <button type="button" class="btn gradient-9 btn-lg border-0 btn-rounded px-4">Limpar</button>
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-13">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-content">
                                    <div class="stat-text">Total Entradas Financeiras</div>
                                    <div class="stat-digit gradient-3-text">R$ {{ total_in }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-13">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-content">
                                    <div class="stat-text">Total Saídas Financeiras</div>
                                    <div class="stat-digit gradient-5-text">R$ {{ total_out }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-13">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-content">
                                    <div class="stat-text">Saldo Atual</div>
                                    <div class="stat-digit gradient-4-text">R$ {{ current_balance }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="col-13">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-content">
                                            <div class="stat-text">Créditos Futuros</div>
                                            <div class="stat-digit gradient-3-text">R$ {{ total_in_future}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-13">
                                <div class="card">
                                    <div class="stat-widget-one">
                                        <div class="stat-content">
                                            <div class="stat-text">Débitos Futuros</div>
                                            <div class="stat-digit gradient-5-text">R$ {{ total_out_future }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-13">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Gastos por Categoria</h4>
                                <canvas id="pieChart" width="350" height="250"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-13 col-md-13">
                        <div class="card">
                            <div class="card-body px-3">
                                <h4 class="card-title px-4 mb-3">Todo</h4>
                                <div class="todo-list">
                                    <div class="tdl-holder">
                                        <div class="tdl-content">
                                            {% if all_reminders %}
                                            <ul id="todo_list">
                                                {% for reminder in all_reminders %}
                                                    <li>
                                                        <li><label><input type="checkbox" notchecked><i></i><span>{{ reminder.content }}</span><a href="{% url 'reminders_delete' reminder.pk %}"  class="ti-trash"></a></label></li>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            {% else %}
                                                <div class="alert danger">
                                                    <p>Não existem lembretes</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="px-4">
                                            {% crispy reminders_form %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    {{ total_expenses|json_script:"total_expenses" }}
    <script>
        const totalExpenses = JSON.parse(document.getElementById('total_expenses').textContent);
        var ctx = document.getElementById("pieChart");
        ctx.height = 150;
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    data: totalExpenses.map(el => el.amount),
                    backgroundColor: [
                        "rgba(175, 120, 283,0.9)",
                        "rgba(200, 99, 283,0.9)",
                        "rgba(230, 99, 220,0.9)",
                        "rgba(270, 99, 186,0.9)",
                        "rgba(117, 113, 249,0.9)",
                        "rgba(117, 113, 249,0.7)",
                        "rgba(117, 113, 249,0.5)",
                        "rgba(144,	104,	190,0.7)"
                    ],
                    hoverBackgroundColor: [
                        "rgba(175, 120, 283,0.9)",
                        "rgba(200, 99, 283,0.9)",
                        "rgba(230, 99, 220,0.9)",
                        "rgba(270, 99, 186,0.9)",
                        "rgba(117, 113, 249,0.9)",
                        "rgba(117, 113, 249,0.7)",
                        "rgba(117, 113, 249,0.5)",
                        "rgba(144,	104,	190,0.7)"
                    ]

                }],
                {% comment %} totalExpenses.map(el => el.category) {% endcomment %}
                labels: [
                    "Higiene e Saúde",
                    "Alimentação",
                    "Lazer",
                    "Entretenimento",
                    "Energia/Saneamento",
                    "Encargos/Impostos",
                    "Combustível",
                    "Outros"
                ]
            },
            options: {
                responsive: true
            }
        });
    </script>
    <script>
        (function($) {
            "use strict"
        
        
            //todo list
            $(".tdl-new").on('keypress', function(e) {
        
                var code = (e.keyCode ? e.keyCode : e.which);
        
                if (code == 13) {
        
                    var v = $(this).val();
        
                    var s = v.replace(/ +?/g, '');
        
                    if (s == "") {
        
                        return false;
        
                    } else {
        
                        $(".tdl-content ul").append("<li><label><input type='checkbox'><i></i><span>" + v + "</span><a href='#' class='ti-trash'></a></label></li>");
        
                        $(this).val("");
        
                    }
        
                }
        
            });
        
        
        
        
        
            $(".tdl-content a").on("click", function() {
        
                var _li = $(this).parent().parent("li");
        
                _li.addClass("remove").stop().delay(100).slideUp("fast", function() {
        
                    _li.remove();
        
                });
        
                return false;
        
            });
        
        
        
            // for dynamically created a tags
        
            $(".tdl-content").on('click', "a", function() {
        
                var _li = $(this).parent().parent("li");
        
                _li.addClass("remove").stop().delay(100).slideUp("fast", function() {
        
                    _li.remove();
        
                });
        
                return false;
        
            });
        
        
        
        
        
        
        
        
        })(jQuery);
    </script>

    <script>
        })(jQuery);


        (function($) {
            "use strict"

            $('#todo_list').slimscroll({
                position: "right",
                size: "5px",
                height: "250px",
                color: "transparent"
            });
        
            $('#activity').slimscroll({
                position: "right",
                size: "5px",
                height: "390px",
                color: "transparent"
            });
        
        })(jQuery);
    </script>
    
{% endblock %}

