{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}OKMoney - Entradas{% endblock %}

{% block navigability %}
<li class="breadcrumb-item active" aria-current="page">Entradas Financeiras</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-11">
        <div class="card">
            <div class="card-header pb-0 d-flex">
                <h3 class="card-title">Entradas Financeiras</h3>
            </div>
            <div class="card-content">
                <div class="card-body adjust-content">
                    {% csrf_token %}
                    {% crispy money_in_form %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}