{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="content-body">
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item">Fluxo de Caixa</li>
                </ol>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">  
                            <h4 class="card-title">Entradas Financeiras</h4> 
                            {% if money_in_list %}
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th scope="col">Data</th>
                                                <th scope="col">Categoria</th>
                                                <th scope="col">Valor</th>
                                                <th scope="col">Observação</th>
                                                <th scope="col">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for entries in money_in_list %}
                                                <tr>
                                                    <td>{{ entries.date }}</td>
                                                    <td>{{ entries.category }}</td>
                                                    <td>{{ entries.value }}</td>
                                                    <td>{{ entries.observation }}</td>
                                                    </td>
                                                    <td>
                                                        <span>
                                                            <a href="{% url 'money_in_edit' entries.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil color-muted m-r-5"></i>
                                                            </a>
                                                            <a href="{% url 'money_in_delete' entries.pk %}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-muted"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="alert danger">
                                    <p>Não existem lançamentos financeiros</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">  
                            <h4 class="card-title">Saídas Financeiras</h4> 
                            {% if money_out_list %}
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th scope="col">Data</th>
                                                <th scope="col">Categoria</th>
                                                <th scope="col">Motivo</th>
                                                <th scope="col">Local</th>
                                                <th scope="col">Valor</th>
                                                <th scope="col">Método de Pagamento</th>
                                                <th scope="col">Observação</th>
                                                <th scope="col">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for outputs in money_out_list %}
                                                <tr>
                                                    <td>{{ outputs.date }}</td>
                                                    <td>{{ outputs.category }}</td>
                                                    <td>{{ outputs.reason }}</td>
                                                    <td>{{ outputs.place }}</td>
                                                    <td>{{ outputs.value }}</td>
                                                    <td>{{ outputs.payment_method }}</td>
                                                    <td>{{ outputs.observation }}</td>
                                                    </td>
                                                    <td>
                                                        <span>
                                                            <a href="{% url 'money_out_edit' outputs.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil color-muted m-r-5"></i>
                                                            </a>
                                                            <a href="{% url 'money_out_delete' outputs.pk %}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-close color-muted"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="alert danger">
                                    <p>Não existem lançamentos financeiros</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-inline-block">
                        <a href="{% url 'index' %}">
                            <button type="button" class="btn gradient-9 btn-lg border-0 btn-rounded px-4">Voltar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}