{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="pt-br">

    <head>
        {% include 'partial/_head.html' %} 
    </head>

    <body class="h-100">

        {% include 'partial/_messages.html' %}

        <div id="preloader">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <div class="login-form-bg h-100">
            <div class="container h-100">
                <div class="row justify-content-center h-100">
                    <div class="col-xl-6">
                        <div class="form-input-content">
                            <div class="card login-form mb-0">
                                <div class="card-body pt-5">
                                    <div class="container-reset">
                                        <h2 class='edit-p'>Redefinição de senha concluída</h2>
                                        <p class='date'>Sua nova senha foi definida. Você pode fazer login agora na
                                            <a href="{% url 'login' %}">página de login</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'partial/_script.html' %}
    </body>
</html>