{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-body">
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="{% url 'blog:post_list' %}">Home</a></li>
                    <li class="breadcrumb-item">Entradas Financeiras</li>
                </ol>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Comentário</h4>
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
