{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'partial/_head.html' %}
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            {% block content %}{% endblock %}
 
            <div>
                {% include 'partial/_footer.html' %}
            </div>
        </div>


    {% block scripts %}
        
    {% endblock %}

</body>

</html>