{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'partial/_head.html' %}
</head>

<body class="fix-header fix-sidebar card-no-border">

    <!--Preloader-->

    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>

    <!--Main wrapper-->
    <div id="main-wrapper">

        <!--Topbar header-->
        {% include 'partial/_header.html' %}

        <!--End Topbar header-->

        <!-- Page wrapper  -->
        <div class="page-wrapper">

            <!--Container fluid-->
            <div class="container-fluid">

                <!-- Bread crumb-->
                {% block breadcrumb %}

                {% endblock %}
                <!-- End Bread crumb-->

                <!-- Start Page Content -->
                {% block content %}

                {% endblock %}
                <!-- End Page Content -->

            </div>
            <!-- End Container fluid  -->

            <!-- footer -->
            <div>
                {% include 'partial/_footer.html' %}
            </div>
            <!-- End footer -->

        </div>
        <!-- End Page wrapper  -->

    </div>
    <!-- End Wrapper -->
    <!-- All Script -->
    {% include 'partial/_script.html' %}
</body>

</html>