{% load static %}


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<link href="{% static 'plugins/tables/css/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
