<header class="topbar">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">

        <div class="navbar-collapse">
            <!--User profile-->
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                            src="assets/images/users/1.jpg" alt="user" class="profile-pic m-r-5" />Markarn
                        Doe</a>
                </li>
            </ul>
        </div>
    </nav>
</header>