{% load static %}


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- Custom Stylesheet -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% comment %} <link href="{% static 'css/blog.css' %}" rel="stylesheet"> {% endcomment %}
<link href="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/tables/css/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<!-- Date picker plugins css -->
<link href="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">

