{% load static %}

<script src="{% static 'plugins/common/common.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/gleek.js' %}"></script>

<script src="{% static 'plugins/tables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/tables/js/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/tables/js/datatable-init/datatable-basic.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<script>
    $('.complex-colorpicker').datepicker({ 
                format: 'dd/mm/yyyy',
                locale: 'pt-BR',
                todayBtn: 'linked',
            });


</script>

