{% load static %}

<script src="{% static 'plugins/common/common.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/gleek.js' %}"></script>

<script src="{% static 'plugins/tables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/tables/js/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/tables/js/datatable-init/datatable-basic.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'plugins/chart.js/Chart.bundle.min.js' %}"></script>


<script>
    $('.complex-colorpicker').datepicker({ 
                format: 'dd/mm/yyyy',
                locale: 'pt-BR',
                todayBtn: 'linked',
            });
</script>

<script src="{% static 'plugins/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/plugins-init/chartjs-init.js' %}"></script>

{% comment %} <script>
    {{ total_expenses|json_script:"total_expenses" }}
    <script>
        const totalExpenses = JSON.parse(document.getElementById('total_expenses').textContent);
        var ctx = document.getElementById("pieChart");
        ctx.height = 150;
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    data: totalExpenses.map(el => el.amout),
                    backgroundColor: [
                        "rgba(255, 99, 283,0.9)",
                        "rgba(255, 99, 220,0.9)",
                        "rgba(255, 99, 186,0.9)",
                        "rgba(117, 113, 249,0.9)",
                        "rgba(117, 113, 249,0.7)",
                        "rgba(117, 113, 249,0.5)",
                        "rgba(144,	104,	190,0.7)"
                    ],
                    hoverBackgroundColor: [
                        "rgba(255, 99, 283,0.9)",
                        "rgba(255, 99, 220,0.9)",
                        "rgba(255, 99, 186,0.9)",
                        "rgba(117, 113, 249,0.9)",
                        "rgba(117, 113, 249,0.7)",
                        "rgba(117, 113, 249,0.5)",
                        "rgba(144,	104,	190,0.7)"
                    ]

                }],
                labels: totalExpenses.map(el => el.category)
            },
            options: {
                responsive: true
            }
        });
</script> {% endcomment %}