{% load static %}

<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="index.html">Home</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Lançamentos</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./money_in.html">Entradas Financeiras</a></li>
                    <li><a href="./money_out.html">Saídas Financeiras</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Blog</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./form-basic.html">Blog</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>